.transactions {
  width: 400px;
  border: none;
  margin: 0 auto;
}
.title {
  font-weight: bold;
  text-align: left;
  border: none;
  padding: 10px 15px;
  background: #ffc8c8;
  font-size: 14px;
}
.title:first-child {
  border-radius: 8px 0 0 8px;
}
.title:last-child {
  border-radius: 0 8px 8px 0;
}
.body:nth-child(even) {
  background: #ffe4e4;
}
.string {
  text-align: left;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  vertical-align: top;
}
.string:first-child {
  border-radius: 8px 0 0 8px;
}
.string:last-child {
  border-radius: 0 8px 8px 0;
}
